.tasks {
  padding: 0.2em;
  max-width: 600px;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.current-task__actions button {
  margin-top: 1em;
  margin-right: 0.5em;
}