.task {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0em 1em;
}


.task__title {
  margin-right: 2em;
}

.task__start_button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1em;
  float: right;
}